.input-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.input-container input {
  padding: 0.5rem 1rem;
  width: 100%;
  border: #f0f0f0 1px solid;
  border-radius: 5px;
}

.input-container input::placeholder {
  color: #9a9a9a;
}

.input-container button {
  padding: 0.5rem 1rem;
  background-color: #358fff;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.search-results {
  margin: 0.5rem 0;
  border: 1px solid #efefef;
}

.search-result {
  padding: 0.4rem;
  cursor: pointer;
  font-size: 0.8rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.search-result:hover {
  background-color: #efefef;
}

.search-result .city-location {
  margin-left: auto;
  color: #ccc;
}
